<!--MANAGE Database Page-->
<!--Graph Paper Background Header-->
<header class="pt6 bg-graph-navy vh-80 dt w-100 bb bw2 b--red shadow-4">
    <div class="vh-75 dtc v-btm-ns tl pa4 pb6 ph5-m ph7-l">
      
      <p id="notice" class="w3-animate-opacity f3 w3-text-red mx-multiply playfair-display"><%%= notice %></p>
      
      <h1 class="playfair-display black-70 fw7 b kern ligatures f-subheadline f-headline-l measure-narrow lh-title pb4">
      <!--Large Breakpoints-->
        <span class="dn-s bg-blur-5 bg-white-70 lh-solid ph4 pb3 bt bw3 b--red shadow-4 w3-animate-opacity">
          &nbsp;<%= plural_table_name.titleize %>&nbsp;
        </span>
        
        <!--Small Breakpoints-->
        <span class="dn-ns mx-multiply lh-solid pb2 bb bw2 b--red red w3-animate-top">
          &nbsp;<%= plural_table_name.titleize %>&nbsp;
        </span>
      </h1>
      
      <h5 class="space-mono ttu mt4 mt6-s f6 black-80 tracked lh-copy">
        <!--Large Breakpoints-->
        <span class="dn-s mt3 pa2 bg-blur-5 bg-white-70 ba bw1 b--red shadow-4 w3-animate-opacity">
          Scroll down for <span class="red"></span> 
        </span>
        
        <!--Medium & Small Breakpoints-->
        <span class="dn-ns montserrat red f4 dn-l mv2 pv2 lh-copy ttc w3-animate-top">
           <span class="space-mono black ttu"> Scroll down for </span> 
               <br class="dn-ns">
           <span class="f6">  </span>
        </span>
      </h5>
      <br>
        <i class="red w3-animate-bottom fl f1-l f2 w30 pa1 material-icons">arrow_downward</i>
    </div>
      
    
    <!--Fixed button with tooltip-->
    <div id="tooltip1" class="pos-fi-br mx-multiply">
      <div class="mdl-tooltip space-mono ttu" for="tooltip1">
        Tooltip
      </div>
      <%%= link_to 'New <%= singular_table_name.titleize %>', new_<%= singular_table_name %>_path ,
      class:"mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab w3-animate-opacity 
      w3-hover-black w3-red grow w3-hover-text-black no-underline w3-text-red playfair-display" %>
</header>

<!--Table of Quotes-->

<!--Center table-->
<div class="flex justify-center pt5">
  <!--Table width-->
  <div class="w-80-ns w-90">
    <table class=" w3-animate-bottom pt3 w3-responsive  pb6">
      <thead>
        <tr>
          <th><%= attribute.human_name %></th>
          <% end -%>
          <th colspan="3"></th>
        </tr>
      </thead>
          <tbody class="">
            <%% @<%= plural_table_name %>.each do |<%= singular_table_name %>| %>
              <tr>
                <% attributes.reject(&:password_digest?).each do |attribute| -%>
                <td width="50%"><p class="">
                  <h6 class="pt4 playfair-display f1-l f3 fw6 lh-title-ns lh-solid red">
                    <span class="bb bw2 b--red pb2"><%%= <%= singular_table_name %>.<%= attribute.name %> %>
                  </h6>
                  <br>
                  <p class="eb-garamond i f4-ns f5 pl0-ns mln1 lh-copy measure"></p>
                </td>
                <% end -%>
                
                <td width="20%" class="v-btm pb6-l pb5 ml0-ns w3-animate-opacity">
                  <%%= link_to 'Show', <%= singular_table_name %> , 
                    class:"ttu tracked db dib-l w3-text-black grow w3-hover-none w3-hover-text-red ma1 f6 space-mono no-underline" %>
                  <%%= link_to 'Edit', edit_<%= singular_table_name %>_path(<%= singular_table_name %>) ,
                    class:"ttu tracked db dib-l w3-text-black grow w3-hover-none w3-hover-text-red ma1 f6 space-mono no-underline" %>
                  <%%= link_to 'Destroy', <%= singular_table_name %>, method: :delete, 
                    data: { confirm: 'Are you sure?' } , 
                    class:"pb2 ttu tracked db dib-l w3-text-black grow 
                    w3-hover-none w3-hover-text-red ma1 f6 space-mono no-underline" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <br>
      </div>
    </div>
